<a href="https://colab.research.google.com/github/fcoliveira-utfpr/agrometeorologia/blob/main/bh_cultura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importa das bibliotecas**
---

In [16]:
#importantando bibliotecas
import numpy as np
import pandas as pd
from datetime import datetime, timedelta
import json
import requests
import os
import openpyxl
from google.colab import files
import matplotlib.pyplot as plt

# **Encontrando a DTA do solo**
---

In [22]:
# ============================================================
# Insira o nome do Muninípio e Sigla do estado
# ============================================================
municipio = "Santa Helena" ###### Nome aqui entre aspas

estado = "PR" ###### Sigla do estado entre aspas

url_1 = "https://raw.githubusercontent.com/fcoliveira-utfpr/agrometeorologia/refs/heads/main/dta_brazil.csv"
df1 = pd.read_csv(url_1)
cidade = df1['Município']
uf = df1['UF']
df1_valores = df1.drop(columns=['Município', 'UF','CAD ou AWC (m³/m³)'])
df1_valores = df1_valores.replace({',': '.'}, regex=True)
df1_valores = df1_valores.apply(pd.to_numeric, errors='coerce')
df1 = df1_valores.copy()
df1['Município'] = cidade
df1['UF'] = uf
df1 = df1[(df1['Município'] == municipio) & (df1['UF'] == estado)].copy()
DTA = df1['DTA (mm/m)'].iloc[0]
DTA

np.float64(109.7)

# **Inserindo os dados da cultura**
---

In [27]:
# ============================================================
# Insira o nome da cultura
# ============================================================
cultura = "Milho" ## Nome da cultura

url_2 = "https://raw.githubusercontent.com/fcoliveira-utfpr/agrometeorologia/refs/heads/main/dados_culturas.csv"
df2 = pd.read_csv(url_2)
cult = df2['Cultura']
df2 = df2.drop(columns=['Cultura'])
df2_valores = df2.replace({',': '.'}, regex=True)
df2_valores = df2_valores.apply(pd.to_numeric, errors='coerce')
df2 = df2_valores.copy()
df2['Cultura'] = cult
df2 = df2[(df2['Cultura'] == cultura)].copy()
df2

,F1 %,F2 %,F3 %,F4 %,f,Kc ini,Kc méd,Kc fin,Z efetivo (m),Ky₁,Ky₂,Ky₃,Ky₄,Ky total,Cultura
34,17,28,33,22,0.55,0.3,1.2,0.6,0.4,0.4,1.5,0.5,0.2,1.25,Milho